<nav class="navigation">
  <div class="nav-item"><a href="/">All</a></div>
  <div class="nav-item"><a href="/game_development/">Game Development</a></div>
  <div class="nav-item"><a href="/programming/">Programming</a></div>
  <div class="nav-item"><a href="/reversible_programming">Reversible Programming</a></div>
  <div class="nav-item"><a href="/other/">Other</a></div>
  <div class="nav-item"><a href="/settings.html">Settings</a></div>
  <div class="nav-item"><a href="/about.html">About</a></div>
</nav>
